<!DOCTYPE html>
<html>
  <head>
    <title>TinyUrlClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-md-center mt-4">
        <%= yield %>
        <% flash.each do |type, msg| %>
          <div class=<%=type%>>
            <%= msg %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
